* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "jorina";
  src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
  font-family: "jorinaBold";
  src: url("../fonts/RobotoCondensed-Bold.ttf");
}

.container {
  position: relative;
  width: max-content;
  height: max-content;
  margin: 20px auto;
  overflow: hidden;
  > .main {
    width: 1200px;
    height: 450px;
    position: relative;
    > .pain {
      position: absolute;
      width: 1200px;
      height: 450px;
      top: 0;
      left: 0;
      > img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      > p {
        position: absolute;
        left: calc(50% - 300px);
        bottom: 50%;
        transform: translateY(50%);
        z-index: 100;
        width: 600px;
        color: #fff;
        text-align: center;
        font-family: "jorina";
        background: rgba(0, 0, 0, 0.5);
        padding: 20px;
      }
    }
  }
  > .left,
  > .right {
    position: absolute;
    top: 0;
    width: 80px;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
    font-size: 30px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  > .left {
    left: -80px;
  }
  > .right {
    right: -80px;
  }
  &:hover {
    > .left {
      left: 0px;
    }
    > .right {
      right: 0px;
    }
  }
  > .bullet {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 0;
    > li {
      margin: 0 10px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.d-none {
  display: none;
}

.activeBullet {
  border: 2px solid #000;
}
