* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("../images/lionel-messi.png") no-repeat bottom right / auto
    100%;
  > .flag {
    width: 300px;
    height: 200px;
    background: green;
    margin: auto;
    box-shadow: 0 0 10px #000, 0 0 10px #000 inset;
    display: flex;
    > .orange {
      width: 220px;
      height: 140px;
      background: yellow;
      margin: auto;
      clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
      display: flex;
      > .blue {
        width: 80px;
        height: 80px;
        background-color: blue;
        box-shadow: 0 0 10px #000, 0 0 10px #000 inset;
        margin: auto;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        > .white {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          border: 10px solid #fff;
          position: absolute;
          top: 30px;
          left: -50%;
        }
      }
    }
  }
}
