  .button{
      background-color: #80ce87 ;
      width: 200px;
      line-height: 50px;
      text-align: center;
      border: 1px solid #6dc;
      padding: 8px;
      border-radius: 2px;
      color: #fff;
      font-size: 20px;
      text-decoration: none;
      -o-transition:.5s;
      -ms-transition:.5s;
      -webkit-transition:.5s;
    

  }

  .button:hover{
      background: #9ae1a0;
      text-shadow: 5px 3px 3px #005d34;
      border-radius: 30px;
  }

 