* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  background-image: url("../images/putin.png");
  background-repeat: no-repeat;
  background-size: 700px auto;
  background-position: bottom right;
  .pain {
    width: 100%;
    height: 100%;
    background: blue;
    margin: auto;
    clip-path: polygon(0 0%, 70% 0, 50% 100%, 0% 100%);
    color: #fff;
    .content {
      width: 50%;
      padding: 40px;
      display: grid;
      grid-template-columns: max-content auto;
      grid-gap: 20px;
      div {
        &:nth-child(2) {
          p {
            margin: 20px 0;
          }
          button {
            padding: 8px 16px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
