.ger{
    width:600px;
 height: 300px;
margin-top: 100px;
margin-bottom: 100px;
margin-left: 650px;
margin-right: 650px;

}
.b{
     height:100px; color: black;
    background-color:Black;
}
.r{
   height: 100px; color: red;
    background-color:red;
}
.g{
    height: 100px; color: gold;
    background-color:gold;
}
.Name{
margin-top: 200px;
margin-bottom: 100px;

}